.task {
  position: absolute;
  display: flex;
  flex-direction: column;  
  top: 0;
  left: 0;
  width: 100%;       
  height: 100%;  
  background-color: white;   
  }
  .header {
    position: relative;      
    background-color: #efefef;
    padding: 16px;
    flex: 0 0 auto;         
    border-bottom: 1px solid #ccc;
  }    
  .header__closeButton {     
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;    
  }
  .form {
    display: flex;
    flex-direction: column;      
  }
  .form__content {
    overflow-y: auto;
    flex: 1 1 auto;  
    padding: 16px; 
    list-style: none;         
  }
  .form__content li {
    display: flex;
    flex-wrap: wrap;    
  }
  .content__input{ 
/*для фикса зума, который происходит в safari при фокусе поля для ввода*/           
    font-size: initial;  
    width: 100%; 
    font-family: arial;
    border: none;    
    border-bottom: 2px solid #1094fb; 
    padding: 16px;   
    flex: 1 0 220px;        
  }
  .content__label {
    align-self: center;
    flex: 1 0 100px;    
    margin: 10px 0;     
  }
  .form__footer {
    flex: 0 0  auto;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #efefef;
    padding: 16px;    
    border-top: 1px solid #ccc;
  }
  .footer__buttonGroup {
    display: flex;              
  }
  .footer__button {
    margin: auto 10px;
    padding: 16px;
    background-color: #1094fb;
    border: none;
    flex: auto;    
    color: white;    
  } 
    /*Для больших экранов  */
@media screen and (min-width: 415px)  {  
  .task {       
    left: 50%;
    top: 50%;         
    max-width: 450px;    
    max-height: 400px;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;      
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;    
  }  
  .form {
    height: 100%; 
  }
  .form__footer {
    flex: 0 0  auto;
    position: relative;
    background-color: #efefef;
    padding: 16px;    
    border-top: 1px solid #ccc;
  }
}


