.form {
  position: absolute;
  display: grid;   
  top: 0;
  left: 0;
  width: 100%;       
  height: 100%;  
  background-color: white;       
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content" 
    "footer";  
  }
  .header {
    position: relative;      
    background-color: #efefef;
    padding: 16px;
    grid-area: header;          
    border-bottom: 1px solid #ccc;
  }    
  .header__closeButton {     
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;    
  }
  .content {
    position: relative;
    padding: 16px;    
    grid-area: content;
    overflow-y: auto;
  }
  .content__name {    
    padding: 16px; 
/*для фикса зума, который происходит в safari при фокусе поля для ввода*/       
    font-size: initial; 
    width: 100%; 
    border: none;
    border-bottom: 2px solid #1094fb;        
  }
  .content__taskDate{        
    padding: 16px;    
/*для фикса зума, который происходит в safari при фокусе поля для ввода*/           
    font-size: initial;  
    width: 100%; 
    font-family: arial;
    border: none;    
    border-bottom: 2px solid #1094fb;            
  }
  .content__label {
    align-self: center;
  }
  .footer {
    position: relative;
    background-color: #efefef;
    padding: 16px;
    grid-area: footer;
    border-top: 1px solid #ccc;
  }
  .footer__buttonGroup {
    display: flex;              
  }
  .footer__button {
    margin: auto 10px;
    padding: 16px;
    background-color: #1094fb;
    border: none;
    flex: auto;    
    color: white;    
  } 
  .taskForm {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-auto-rows: 40px;    
    grid-gap: 10px;
  }
    /*Для больших экранов  */
@media screen and (min-width: 415px)  {  
  .form {     
    left: 50%;
    top: 50%;         
    max-width: 450px;    
    max-height: 400px;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;      
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    grid-template-rows: auto minmax(50px, 1fr) auto;
  }  
}


