.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;    
}
.header__createButton {
    position: relative;
    padding: 16px;
    background-color: #1094fb;
    border: none;    
    color: white;      
}
.header__checkbox {    
    cursor: pointer;    
}

@media screen and (max-width: 414px) {
    .header {
        position: sticky;    
        top: 0;
        left: 0;            
        width: 100%;    
        background-color: #efefef;
        padding: 16px;        
        border-bottom: 1px solid #ccc;   
        z-index: 1;         
    }
}